@{
  Layout = "_layout";
}

<h1>Add an Order</h1>

<form action="/orders" method="post">
  <label for="vendorId">vendorId:</label>
  <input id="vendorId" name="vendorId" type="text" placeholder="Enter Vendor Id here">

  <label for="title">Order Title:</label>
  <input id="title" name="title" type="text" placeholder="Enter Order Title here">
  
  <label for="description">Order Description:</label>
  <input id="description" name="description" type="text" placeholder="Enter Order Description here">

  <label for="price">Order Price:</label>
  <input id="price" name="price" type="number" step="0.01" placeholder="Enter Order Price here">

  <label for="date">Order Date:</label>
  <input id="date" name="date" type="date" placeholder="Enter Order date here">
  
  <button type="submit" class="btn btn-success">Create Order</button>
</form>