<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Vendors and Orders Control Panel</title>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>

  <body>
    <div class="container">
      @RenderBody()
      <p><a href='/'>Control Panel</a></p>
      <p><a href='/orders'>Go to Orders</a></p>
    </div>
  </body>
</html>